{% extends "base.html.twig" %}

{% block body %}

    {% include ('CommitStripBundle::header.html.twig' )  %}
    <div class="container text-center">
        <h1>Card #{{ card.id }} of story {{ card.story.name }}</h1>
        {% if prevCard.id is defined %}
            <a class="btn btn-lg" href="{{ path('story', {'id':prevCard.id}) }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
        {% endif %}
        <img class="img-responsive img-thumbnail" src="{{ card.picture }}"/>
        {% if nextCard.id is defined %}
            <a class="btn btn-lg" href="{{ path('story', {'id':nextCard.id}) }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
        {% endif %}
    </div>
{% endblock %}