{% extends "::base.html.twig" %}
{% block title %}{{ tvShow.name }}{% endblock %}
{% block body %}
    {% include 'QRTvShowManagerBundle::navigation.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="center">
                <h1>{{ tvShow.name }}</h1>
                <br />
                <a href="{{ path('qr_tv_show_manager_episode_add') }}/{{ tvShow.id }}" class="btn blue">Add an Episode</a>
            </div>
            <br />
            <table class="bordered centered highlight responsive-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Season</th>
                    <th>Number</th>
                    <th>Note</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for episode in episodes %}
                    <a href="{{ path('qr_tv_show_manager_episode_read') }}/{{ tvShow.id }}">
                        <tr>
                            <td>{{ episode.id }}</td>
                            <td>{{ episode.name }}</td>
                            <td>{{ episode.season }}</td>
                            <td>{{ episode.number }}</td>
                            <td>{{ episode.note }}</td>
                            <td>
                                <a href="{{ path('qr_tv_show_manager_episode_update') }}/{{ episode.id }}" class="btn orange"><i class="fa fa-pencil"></i></a>
                                <a href="{{ path('qr_tv_show_manager_episode_delete') }}/{{ episode.id }}" class="btn red"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </a>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}