{% extends "::base.html.twig" %}
{% block title %}Tv Shows{% endblock %}
{% block body %}
    {% include 'QRTvShowManagerBundle::navigation.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="center">
                <br />
                <a href="{{ path('qr_tv_show_manager_tvShow_add') }}" class="btn blue">Add a Tv Show</a>
            </div>
            <br />
            <table class="bordered centered striped responsive-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Url</th>
                    <th>Year</th>
                    <th>Actions</th>
                    <th>Episodes</th>
                </tr>
                </thead>
                <tbody>
                {% for tvShow in tvShows %}
                        <tr>
                            <td>{{ tvShow.id }}</td>
                            <td>{{ tvShow.name }}</td>
                            <td>{{ tvShow.type }}</td>
                            <td><img src="{{ tvShow.url }}" width="50px" height="50px"></td>
                            <td>{{ tvShow.year }}</td>
                            <td>
                                <a href="{{ path('qr_tv_show_manager_tvShow_update') }}/{{ tvShow.id }}" class="btn orange"><i class="fa fa-pencil"></i></a>
                                <a href="{{ path('qr_tv_show_manager_tvShow_delete') }}/{{ tvShow.id }}" class="btn red"><i class="fa fa-trash-o"></i></a>
                            </td>
                            <td><a href="{{ path('qr_tv_show_manager_episode_read') }}/{{ tvShow.id }}">Episodes</a></td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}